@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat";
}

::-webkit-scrollbar {
  display: none;
}

.gap32 {
  gap: 32px;
}

body.body {
  display: flex;
  flex-direction: column;
  background-color: #778899;
  height: 100vh;
  width: 100vw;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #970747;
  padding: 16px;
}

img.logo-header {
  height: 50px;
}

nav.nav-header {
  display: flex;
}

main.main {
  display: flex;
  flex-direction: column;
}

Section.image-fond {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../Document/bg.jpg) #47b4d1 no-repeat;
  background-size: contain;
  padding: 50px 250px;
  min-height: 125px;
}
section.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 75px;
}

div.carte {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 8px;
}

a.plat-categorie {
  text-decoration: none;
  color: black;
}

div.cat {
  min-height: 200px;
}

div.plat {
  min-height: 100px;
}

#asian-cat {
  background-image: url(../Document/category/asian_food_cat.jpg);
}
#burger-cat {
  background-image: url(../Document/category/burger_cat.jpg);
}
#pasta-cat {
  background-image: url(../Document/category/pasta_cat.jpg);
}
#pizza-cat {
  background-image: url(../Document/category/pizza_cat.jpg);
}
#salade-cat {
  background-image: url(../Document/category/salade_cat.jpg);
}
#sandwich-cat {
  background-image: url(../Document/category/sandwich_cat.jpg);
}
#buffalo-plat {
  background-image: url(../Document/food/buffalo-chicken.webp);
}
#cheesburger-plat {
  background-image: url(../Document/food/cheesburger.jpg);
}
#courgettes-plat {
  background-image: url(../Document/food/courgettes_farcies.jpg);
}

p.texte-cat {
  border-radius: 8px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

footer.footer {
  display: flex;
  justify-content: space-around;
  background-color: #970747;
  margin: 0 auto;
  width: 65%;
}

img.image-reseaux {
  height: 75px;
}

h3 {
  padding: 0 16px;
}

section.bouton-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

section.liste-plat-de-la-categorie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 50px;
}

.plat-cat {
  justify-items: space-around;
  align-items: center;
  background-color: #a3dae8;
  border: 1px solid black;
  border-radius: 8px;
  width: 55%;
  padding: 8px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.image-food {
  width: 100%;
  border-radius: 16px;
  grid-row: span 2;
}

.btn-outline-dark {
  width: 50%;
  margin-left: auto;
  margin-right: 32px;
}

.description-plat {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 85%;
  justify-self: center;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 4.5em;
}

form.commande {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 16px;
}
