/* CSS globale */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
}

body {
  margin: 0;
}

/* CSS liéer au header */

header.header {
  background-color: #970747;
  display: flex;
  width: calc(100%-32px);
  justify-content: space-between;
  padding: 4px 32px;
  align-items: center;
}

div.logo img {
  height: 50px;
}

nav.nav-header {
  display: flex;
  gap: 32px;
}

li.nav-barre {
  list-style: none;
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px 8px;
}

a {
  text-decoration: none;
  color: white;
}

/* CSS liéer au main */

/* CSS liéer au footer */
